{%extends "anytable.html" %}

{% block find %}

<form action="\oborud" method="post" class="search_form">
    <input name="search_info" type="text" class="field" placeholder="Введите данные для поиска">
    <input name="date_search" style="display: none;">
    <input id="search_btn" type="submit" class="ok_btn" value="➡️">
</form>

{% endblock %}


{% block content %}
{% for item in oborud%}
<tr>

    <td>{{item.ID}}</td>
    <td>{{item.Otdel}}</td>
    <td>{{item.RabocheeMesto}}</td>
    <td>{{item.SistemnijBlok}}</td>
    <td>{{item.Monitor}}</td>
    <td>{{item.Processor}}</td>
    <td>{{item.OperPamyat}}</td>
    <td>{{item.PostPamyat}}</td>
    <td>{{item.GPU}}</td>
    <td>{{item.Printer}}</td>
    <td>{{item.MatPlata}}</td>
    <td>{{item.BlokPitaniya}}</td>
    <td>{{item.UPS}}</td>
    <td>{{item.Date_zap}}</td>
    <td>{{item.Prim}}</td>


</tr>
{%endfor%}
{% endblock %}

{% block add_form %}
<a id="add_close" href="" class="popup__close">X</a>
<div class="popup__title">Добавление оборудования</div>

<form action="\oborud#msgpopup" method="post">
    <input name="Otdel" type="text" placeholder="Введите отдел " /><br>
    <input name="RabocheeMesto" type="text" placeholder="Введите рабочее место " /><br>
    <input name="SistemnijBlok" type="text" placeholder="Введите системный блок " /><br>
    <input name="Monitor" type="text" placeholder="Введите монитор " /><br>
    <input name="Processor" type="text" placeholder="Введите процессор " /><br>
    <input name="OperPamyat" type="text" placeholder="Введите ОЗУ " /><br>
    <input name="PostPamyat" type="text" placeholder="Введите ПЗУ " /><br>
    <input name="GPU" type="text" placeholder="Введите GPU " /><br>
    <input name="Printer" type="text" placeholder="Введите принтер " /><br>
    <input name="MatPlata" type="text" placeholder="Введите материнскую плату " /><br>
    <input name="BlokPitaniya" type="text" placeholder="Введите блок питания " /><br>
    <input name="UPS" type="text" placeholder="Введите UPS " /><br>
    <input name="Date_zap" type="date" /><br>
    <input name="Prim" type="text" placeholder="Введите Prim " /><br>
    <input type="submit" value="Ok" />
</form>
{% endblock %}

{% block delete_form %}
<a id="del_close" href="" class="popup__close">X</a>
<div name="del_title" class="popup__title">Удаление записи оборудования </div>
<div class="popup__text">Вы уверены что хотите удалить ?</div>
<input id="del_btn" type="button" class="ok_btn" value="Ok">


{% endblock %}

{% block update_form %}
<a id="up_close" href="" class="popup__close">X</a>
<div name="up_title" class="popup__title">Обновление записи оборудования</div>

<input id="upOtdel" name="Otdel" type="text" placeholder="Введите отдел " /><br>
<input id="upRabocheeMesto" name="RabocheeMesto" type="text" placeholder="Введите рабочее место " /><br>
<input id="upSistemnijBlok" name="SistemnijBlok" type="text" placeholder="Введите системный блок " /><br>
<input id="upMonitor" name="Monitor" type="text" placeholder="Введите монитор " /><br>
<input id="upProcessor" name="Processor" type="text" placeholder="Введите процессор " /><br>
<input id="upOperPamyat" name="OperPamyat" type="text" placeholder="Введите ОЗУ " /><br>
<input id="upPostPamyat" name="PostPamyat" type="text" placeholder="Введите ПЗУ " /><br>
<input id="upGPU" name="GPU" type="text" placeholder="Введите GPU " /><br>
<input id="upPrinter" name="Printer" type="text" placeholder="Введите принтер " /><br>
<input id="upMatPlata" name="MatPlata" type="text" placeholder="Введите материнскую плату " /><br>
<input id="upBlokPitaniya" name="BlokPitaniya" type="text" placeholder="Введите блок питания " /><br>
<input id="upUPS" name="UPS" type="text" placeholder="Введите UPS " /><br>
<input id="upDate_zap" name="Date_zap" type="date" /><br>
<input id="upPrim" name="Prim" type="text" placeholder="Введите Prim " /><br>
<input id="up_btn" type="button" value="Ok" />

{% endblock %}


{% block user_script%}

<script>
    idleTime = 0;
    document.addEventListener('DOMContentLoaded', () => {

        //Increment the idle time counter every minute.
        var idleInterval = setInterval(timerIncrement, 1000); // 1 sec

        //Zero the idle timer on mouse movement.
        document.addEventListener('mousemove', function(e) {
            idleTime = 0;
        });
        document.addEventListener("keypress", function(e) {
            idleTime = 0;
        });
    });

    function timerIncrement() {
        idleTime = idleTime + 1;

        if (idleTime > 60) { // 60 sec
            var xhr = new XMLHttpRequest();
            xhr.open('GET', "\oborud");
            xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");


            xhr.send(JSON.stringify({
                "disable_server": true,
            }));

            xhr.onload = function() {

                window.location.reload("/");
            }

            idleTime = 0;
        }
    }



    var Otdel;
    var RabocheeMesto;
    var SistemnijBlok;
    var Monitor;
    var Processor;
    var OperPamyat;
    var PostPamyat;
    var GPU;
    var Printer;
    var MatPlata;
    var BlokPitaniya;
    var UPS;
    var Date_zap;
    var Prim;

    //     setTimeout(function() {
    //                location.reload();
    //            }, 60000);

    {% if up_option %}
    document.querySelector("#up_btn").onclick = function() {
        var xhr = new XMLHttpRequest();
        xhr.open('PATCH', "\oborud");
        xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");



        xhr.send(JSON.stringify({
            //            "newlogin": uplogin.value,
            //
            //            "login": user_login,

            "Otdel": Otdel,
            "RabocheeMesto": RabocheeMesto,
            "SistemnijBlok": SistemnijBlok,
            "Monitor": Monitor,
            "Processor": Processor,
            "OperPamyat": OperPamyat,
            "PostPamyat": PostPamyat,
            "GPU": GPU,
            "Printer": Printer,
            "MatPlata": MatPlata,
            "BlokPitaniya": BlokPitaniya,
            "UPS": UPS,
            "Date_zap": Date_zap,
            "Prim": Prim,

            "newOtdel": upOtdel.value,
            "newRabocheeMesto": upRabocheeMesto.value,
            "newSistemnijBlok": upSistemnijBlok.value,
            "newMonitor": upMonitor.value,
            "newProcessor": upProcessor.value,
            "newOperPamyat": upOperPamyat.value,
            "newPostPamyat": upPostPamyat.value,
            "newGPU": upGPU.value,
            "newPrinter": upPrinter.value,
            "newMatPlata": upMatPlata.value,
            "newBlokPitaniya": upBlokPitaniya.value,
            "newUPS": upUPS.value,
            "newDate_zap": upDate_zap.value,
            "newPrim": upPrim.value
        }));

        xhr.onload = function() {

            var jsonResponse = JSON.parse(xhr.responseText);
            up_close.href = "#msgpopup";
            up_close.click();
            msgtext.innerHTML = jsonResponse["msg"];
            msgtitle.innerHTML = jsonResponse["msg_title"];
            up_close.href = "";
        }

    };

    document.querySelector("#l1").addEventListener("click", () => {
        if (window.tr) {

            Otdel = window.tr.getElementsByTagName("td")[1].innerHTML;
            RabocheeMesto = window.tr.getElementsByTagName("td")[2].innerHTML;
            SistemnijBlok = window.tr.getElementsByTagName("td")[3].innerHTML;
            Monitor = window.tr.getElementsByTagName("td")[4].innerHTML;
            Processor = window.tr.getElementsByTagName("td")[5].innerHTML;
            OperPamyat = window.tr.getElementsByTagName("td")[6].innerHTML;
            PostPamyat = window.tr.getElementsByTagName("td")[7].innerHTML;
            GPU = window.tr.getElementsByTagName("td")[8].innerHTML;
            Printer = window.tr.getElementsByTagName("td")[9].innerHTML;
            MatPlata = window.tr.getElementsByTagName("td")[10].innerHTML;
            BlokPitaniya = window.tr.getElementsByTagName("td")[11].innerHTML;
            UPS = window.tr.getElementsByTagName("td")[12].innerHTML;
            Date_zap = window.tr.getElementsByTagName("td")[13].innerHTML;
            Prim = window.tr.getElementsByTagName("td")[14].innerHTML;
        }
        title = document.getElementsByName("del_title")[0];
        title.innerHTML += " " + Otdel;
        //        uplogin.value = user_login;
        upOtdel.value = Otdel;
        upRabocheeMesto.value = RabocheeMesto;
        upSistemnijBlok.value = SistemnijBlok;
        upMonitor.value = Monitor;
        upProcessor.value = Processor;
        upOperPamyat.value = OperPamyat;
        upPostPamyat.value = PostPamyat;
        upGPU.value = GPU;
        upPrinter.value = Printer;
        upMatPlata.value = MatPlata;
        upBlokPitaniya.value = BlokPitaniya;
        upUPS.value = UPS;
        upDate_zap.value = Date_zap;
        upPrim.value = Prim;


    }, false);

    {% endif %}

    {% if del_option %}
    document.querySelector("#del_btn").onclick = function() {

        var xhr = new XMLHttpRequest();
        xhr.open('DELETE', "\oborud");
        xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");


        xhr.send(JSON.stringify({
            "Otdel": Otdel,
            "RabocheeMesto": RabocheeMesto
        }));

        xhr.onload = function() {

            var jsonResponse = JSON.parse(xhr.responseText);
            del_close.href = "#msgpopup";
            del_close.click();
            msgtext.innerHTML = jsonResponse["msg"];
            msgtitle.innerHTML = jsonResponse["msg_title"];
            del_close.href = "";
        }


    };


    document.querySelector("#l2").addEventListener("click", () => {
        if (window.tr) {
            Otdel = window.tr.getElementsByTagName("td")[1].innerHTML;
            RabocheeMesto = window.tr.getElementsByTagName("td")[2].innerHTML;
            SistemnijBlok = window.tr.getElementsByTagName("td")[3].innerHTML;
            Monitor = window.tr.getElementsByTagName("td")[4].innerHTML;
            Processor = window.tr.getElementsByTagName("td")[5].innerHTML;
            OperPamyat = window.tr.getElementsByTagName("td")[6].innerHTML;
            PostPamyat = window.tr.getElementsByTagName("td")[7].innerHTML;
            GPU = window.tr.getElementsByTagName("td")[8].innerHTML;
            Printer = window.tr.getElementsByTagName("td")[9].innerHTML;
            MatPlata = window.tr.getElementsByTagName("td")[10].innerHTML;
            BlokPitaniya = window.tr.getElementsByTagName("td")[11].innerHTML;
            UPS = window.tr.getElementsByTagName("td")[12].innerHTML;
            Date_zap = window.tr.getElementsByTagName("td")[13].innerHTML;
            Prim = window.tr.getElementsByTagName("td")[14].innerHTML;
        }
        title = document.getElementsByName("del_title")[0];
        title.innerHTML += " " + Otdel;
    }, false);

    {% endif %}

</script>
{% endblock %}
